.item {
  border: 1px solid gray !important;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* transition: top 1s ease-out 0.5s; */
  /* transition: top 1s ease-out 0.5s; */
}

.closeIcon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.noDecoration, .noDecoration:hover {
  text-decoration: none !important;
}

